### 학과: IT 미디어 공학과 
### 학번: 20171101
### 이름(영문이름): 박경선(gyeongseon park)

### > 1. 라이브러리 설치
1.1 판다스, 넘파이, 맷플롯립 라이브러리 설치

In [2]:
# !는 jupyter notebook에서 OS명령을 실행시킴
!pip install pandas numpy matplotlib

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.19.5)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.4.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/gyeongseon/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/gyeongseon/Library/Python/3.8/lib/python/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from matplotlib) (8.1.2)
WARNING: You are using pip version 21.1.1; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

### 2. 판다스(pandas) 라이브러리 사용법

2.1 판다스 라이브러리 불러오기

In [3]:
# pandas library를 실행환경으로 불러오기 위해 임포트 (import)명령을 사용.
# import [library-name] as [library-alias] -> 약칭 사용을 사용해서 사용성 높이기
import pandas as pd

2.2 딕셔너리(dictionary)를 시리즈(series)로 변환

In [4]:
# {key: value} 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장한다.
dict_data = {'a': 1, 'b': 2, 'c': 3}

# pandas Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환한다.
# Series() 함수가 반환한 시리즈 객체를 변수 sr에 저장한다. 
# ✍🏻 sr은 Series 객체 명의 의미를 갖는다.
sr = pd.Series(dict_data)

# 변수 sr 자료형 출력
print(type(sr))
print('\n')

# 변수
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [7]:
# python list는 어떠한 데이터현도 포함할 수 있다.
list_data = ['2021-09-08', 3.14, 'ABC', 100, True]

# pandas Series() 함수로 리스트(list_data)를 시리즈로 변환
# Series() 함수가 반환한 시리즈 객체를 변수 sr에 저장

# ✍🏻 python에서는 문자열도 객체 -> python 타입은 숫자 아님 객체
sr = pd.Series(list_data)
print(sr)

0    2021-09-08
1          3.14
2           ABC
3           100
4          True
dtype: object

In [8]:
# 시리즈 index 속성은 인덱스 정보를 제공
# 인덱스 범위 (RangeIndex)는 0부터 시작하고 마지막 인덱스값(stop)은 포함되지 않는다.
print(sr.index)
print('\n')

# 시리즈의 values 속성으로 데이터 배열을 불러온다.
print(sr.values)

RangeIndex(start=0, stop=5, step=1)


['2021-09-08' 3.14 'ABC' 100 True]

✍🏻 결과값에서 stop에 해당하는 인덱스는 포함 안된다는 의미
```
RangeIndex(start=0, stop=5, step=1)
```

따라서 현재 sr은 [0, 5)의 범위!

2.5 파이썬 튜플(tuple)을 시리즈(series)로 변환

- [list]는 mutable(가변)으로 데이터를 변경할 수 있다.
- (tuple)은 immutable(불변)으로 데이터를 변경할 수 없다.

In [9]:
# 튜플을 변수 tup_data에 저장한다.
tup_data = ('영인', '2021-09-08', '여', True)

# Series() 함수로 튜플(tup_data)를 시리즈로 변환
# index option에 인덱스 이름을 지정한다.
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

이름              영인
생년월일    2021-09-08
성별               여
학생여부          True
dtype: object

2.6 시리즈 원소 선택하기

In [9]:
# 원소를 1개 선택
print(sr[0])          # 정수형 위치 인덱스를 활용
print(sr['이름'])      # 인덱스 이름을 활용

영인
영인

In [10]:
# 여러 개의 원소를 선택 (인덱스 리스트 활용)
print(sr[[1,2]])
print('\n')
print(sr[['생년월일', '성별']])

생년월일    2021-09-08
성별               여
dtype: object


생년월일    2021-09-08
성별               여
dtype: object

In [ ]:
# 여러 개의 원소를 선택 (인덱스 범위 지정)
# 정수형 인덱스 범위의 마지막 값은 포함되지 않는다.
print(sr[1,2])
print('\n')

# 인덱스 이름을 사용할 때에는 마지막 값이 포함된다.
print(sr[['생년월일', '성별']])

생년월일    2021-09-08
성별               여
dtype: object


생년월일    2021-09-08
성별               여
dtype: object

2.7 딕셔너리(dictionary)를 데이터프레임으로 변환

In [11]:
# 열 이름을 key로 하고, 리스트를 value로 갖는 dictionary를 정의
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2':[7,8,9], 'c3': [10,11,12], 'c4': [13, 14, 15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환한다.
# DataFrame() 함수가 반환한 데이터프레임 객체를 변수 df에 저장한다.
# ✍🏻 df는 dataframe객체이다.
df = pd.DataFrame(dict_data)

# df의 자료형 출력
print(type(df))
print('\n')

# 변수 df에 저장되어 있는 데이터프레임 객체를 출력
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

2.8 여러 개의 list를 데이터프레임으로 변환

In [12]:
# 먼저 개수가 같은 3개의 리스트를 생성한다.
names=['Bob','Jessica','Mary','John','Mel']
births = [123,254,32,235,243]
custom = [1,5,3,4,654,23]

# zip()는 길이가 같은 리스트 등의 요소를 묶어준다.
# list()는 리스트 자료형으로 변환해준다.
BabyDataSet = list(zip(names, births))

# pd.DataFrame(data=BabyDataSet, columns=컬럼명)으로 데이터프레임이 생성된다.
df = pd.DataFrame(data=BabyDataSet, columns=['Names', 'Births'])

# 데이터가 많을 때: 데이터프레임의 상위 5개의 행을 출력 
df.head()

     Names  Births
0      Bob     123
1  Jessica     254
2     Mary      32
3     John     235
4      Mel     243

2.9 데이터프레임의 기본 정보 출력하기

In [13]:
# 데이터프레임의 타입(type) 정보 --> 데이터 타입을 알 수 있다.
print(df.dtypes)
print("--------------")

# 데이터프레임의 index 정보 --> 행의 수를 알 수 있다.
print(df.index)
print("--------------")

# 데이터프레임의 열의 정보 --> 컬럼명을 알 수 있다.
print(df.columns)
print("--------------")
print(df.values)

Names     object
Births     int64
dtype: object
--------------
RangeIndex(start=0, stop=5, step=1)
--------------
Index(['Names', 'Births'], dtype='object')
--------------
[['Bob' 123]
 ['Jessica' 254]
 ['Mary' 32]
 ['John' 235]
 ['Mel' 243]]

2.10 데이터프레임의 특정 행과 열 선택하기

In [14]:
# 데이터프레임에서 하나의 열을 선택한다.
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

2.11 데이터프레임의 인덱스 선택하기

In [15]:
# 데이터프레임의 특정 행(인덱스)을 선택한다.
# df[start:stop] start index는 0부터 시작, (stop index -1) 까지 행이 선택된다.
df[0:3]

     Names  Births
0      Bob     123
1  Jessica     254
2     Mary      32

2.12 데이터프레임의 필터링 기능

In [16]:
# Births 열에서 100보다 큰 데이터를 필터링한다.
df[df['Births'] > 100]

     Names  Births
0      Bob     123
1  Jessica     254
3     John     235
4      Mel     243

2.13 평균값을 구하는 기능

In [17]:
# mean()는 각 열의 데이터타입을 체크한 뒤, 수치형 데이터에 대해 평균을 구한다.
df.mean()

Births    177.4
dtype: float64